body,
.bg-dark,
.form-control {
  background-color: #1b1b1b !important;
}

.form-control {
  max-width: 130px;
  line-height: 25px;
  border-color: #fff;
  border-radius: 0;
  height: 28px;
}

.form-control:focus {
  border-color: #fff;
  outline: none;
  box-shadow: 0 0 0 0;
}

.navbar {
  position: relative;
  z-index: 1000;
}

.navbar img {
  height: 24px;
}

.navbar .navbar-toggler {
  border: 0;
  box-shadow: 0 0 0 0;
  padding-left: 0;
  padding-right: 0;
}

.navbar ul.sidebar {
  color: #999898;
  max-width: 250px;
  margin: 0.3em auto;
  position: absolute;
  top: 50px;
  left: -250px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  background-color: #1b1b1b;
  transition: all 0.1s ease-out;
  opacity: 0.5;
}

.navbar.sidebar-open ul {
  left: 0;
  opacity: 1;
}

.navbar ul li {
  padding: 0.2em 1em;
}

.navbar ul li.divider {
  border-bottom: 1px solid #999898;
  margin: 0.5em auto;
}

.navbar ul img {
  height: 39px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.full-banner {
  background-image: url("../assets/img/full-banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 120px;
}

.full-banner small {
  color: #999898;
}

.full-banner .btn-primary {
  background-color: #e30f19;
  min-width: 100px;
  border: none;
  box-shadow: 0 0 0 0;
}

.list-titles h2,
footer {
  color: #999898;
}

.list-titles img {
  min-width: 160px;
}

@media (min-width: 576px) {
  .full-banner {
    min-height: 256px;
  }
  .navbar .form-control {
    min-width: 180px;
  }
}

@media (min-width: 768px) {
  .list-titles img {
    min-width: 230px;
  }
}

@media (min-width: 992px) {
  .navbar.bg-dark {
    background-color: transparent !important;
    background-image: url("../assets/img/header_gradient.png");
    background-repeat: repeat-x;
  }

  .full-banner {
    min-height: 50vh;
  }

  .full-banner p {
    max-width: 50vw;
    color: #999898;
    text-align: justify;
  }

  .navbar ul.nav {
    flex-grow: 1 !important;
  }

  .navbar-brand.flex-grow-1 {
    flex-grow: initial !important;
  }

  .navbar ul.nav .active {
    color: #e30f19 !important;
    font-weight: bold;
  }

  .navbar img {
    height: 34px;
  }
}

@media (min-width: 1200px) {
  .nav .ul.nav li {
    padding: 0;
  }
  .navbar ul.nav {
    color: rgba(255, 255, 255, 0.5) !important;
  }
  .navbar ul.nav .active {
    color: rgba(255, 255, 255, 1) !important;
  }
  footer {
    text-align: center;
  }
}
